.container {
    display : flex ;
    justify-content: flex-start;
    justify-content : space-between;
    background-color: rgb(0, 0, 0);
}

.h1 {
    color: aliceblue;
    margin : 20px ;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons button {
    margin-right: 20px;
    height: 40px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0f75d4;
}