.field {
    white-space: pre-wrap;
    resize: none;         
    width: 100%;          
    height: 100px;  
}

.result {
    white-space: pre-wrap;
    resize: none;         
    width: 100%;          
    height: 100px;        

}